#about {
    background-color: #F1A661;
    .content {
        .title {
            display: flex;
            justify-content: center;
            padding: 25px;
            margin: 0;
        }

        .aboutme{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 30px;
            .presentation{
                text-align: right;
            }
            .profil-pic {
                display: flex;
                justify-content: center;
                height: 300px;
                width: auto;
                .img{
                    display: flex;
                    border-radius: 5px;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}