@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
.content {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  background-color: #DBE2EF;
}
#header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .content .welcome {
  margin: 150px 15% 75px 15%;
  color: #112D4E;
  font-size: 36px;
}
#header .content .welcome .name {
  color: #112D4E;
}
#header .content .welcome .job {
  font-size: 24px;
}
#header .content .read-more {
  padding-bottom: 150px;
}
#header .content button {
  outline: none;
}
#header .content .btn-read-more {
  background: #112D4E;
  color: #112D4E;
  z-index: 1;
  border-radius: 5px;
}
#header .content .btn-read-more:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #112D4E;
  transition: all 0.3s ease;
}
#header .content .btn-read-more:hover {
  color: #F9F7F7;
}
#header .content .btn-read-more:hover:after {
  top: 0;
  height: 100%;
}
#header .content .btn-read-more:active {
  top: 2px;
}
#header .content .custom-btn {
  width: auto;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #112D4E;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

#about {
  color: #DBE2EF;
  background-color: #112D4E;
}
#about .content .title {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 36px;
  margin: 0;
}
#about .content .aboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 30px;
}
#about .content .aboutme .description .identity {
  text-align: right;
  line-height: 30px;
}
#about .content .aboutme .description .presentation {
  text-align: center;
}
#about .content .aboutme .description .language-used {
  text-align: right;
  margin: 30px;
}
#about .content .aboutme .profil-pic {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#about .content .aboutme .profil-pic .img {
  display: flex;
  overflow: hidden;
  height: 300px;
  margin-left: 100px;
}
#about .content .aboutme .profil-pic .img img {
  clip-path: circle(40%);
  height: 100%;
  width: auto;
}
#about .content .aboutme .profil-pic .contact-me {
  text-align: left;
  display: block;
  margin-left: 20px;
}
#about .content .aboutme .profil-pic .contact-me .logo {
  display: flex;
  justify-content: left;
}

#display-projects {
  background-color: #3F72AF;
  color: #F9F7F7;
}
#display-projects .content {
  display: flex;
  flex-direction: column;
}
#display-projects .content .title {
  display: flex;
  justify-content: center;
}
#display-projects .content .display-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
}
#display-projects .content .display-projects .project-title {
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
}
#display-projects .content .display-projects .project .thumbnail-project {
  display: flex;
  align-items: center;
  justify-content: center;
}
#display-projects .content .display-projects .project .thumbnail-project .img {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 400px;
  border: 2px solid #F9F7F7;
  border-radius: 10px;
  overflow: hidden;
}
#display-projects .content .display-projects .project .thumbnail-project .img img {
  height: 250px;
  width: auto;
  object-fit: contain;
}
#display-projects .content .display-projects .project-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
}
#display-projects .content .display-projects .project-description h4 {
  margin: 15px auto;
}
#display-projects .content .display-projects .project-description li {
  list-style-type: none;
  margin: 5px 0px;
}
#display-projects .content .display-projects .project-description .language {
  margin: 10px 0px;
}
#display-projects .content .display-projects .project-description .project-button {
  margin: 25px 0;
}
#display-projects .content .display-projects .project-description .project-button .frame .custom-btn {
  width: auto;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #112D4E;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  display: inline-block;
}
#display-projects .content .display-projects .project-description .project-button .frame button {
  margin: 0px 10px;
  outline: none;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-site {
  background: #112D4E;
  color: #F9F7F7;
  z-index: 1;
  border-radius: 5px;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-site:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #F9F7F7;
  transition: all 0.7s ease;
  border-radius: 5px;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-site:hover {
  color: #112D4E;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-site:hover:after {
  left: 0;
  width: 100%;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-site:active {
  top: 2px;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-code {
  background: #112D4E;
  color: #F9F7F7;
  z-index: 1;
  border-radius: 5px;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-code:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.7s ease;
  border-radius: 5px;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-code:hover {
  color: #112D4E;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-code:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
#display-projects .content .display-projects .project-description .project-button .frame .btn-code:active {
  top: 2px;
}

#display-projects:nth-child(even) {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
